interface {{ interface }}
 description {{ description }}
{% if routed %}
 no switchport
 ip address {{ ip }} {{ mask }}
{% else %}
 switchport
{% endif %}
{% if enabled %}
 no shutdown
{% else %}
 shutdown
{% endif %}